body {
	font-size: 20px;
}
h1 {
	text-align: center;
	font-family:'Anton', sans-serif;
	font-size: 2.5em; 
}
table {
  border-collapse: collapse;
  border-style: hidden;
  margin: 0 auto;
}
table td {
  border: 1px solid black;
  width: 100px;
  height: 100px	;
}